@media all and (max-width: 1000px) {
  
  footer {
    text-align: center;
  }
  .top-wrapper h1 {
    font-size: 32px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .form-control{
    margin-bottom: 10px;
  }
}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  .direct-contact-container{
    display: none;
  }
  .list-item{
    display: none;
  }
  .form-control{
    margin-bottom: 10px;
  }
  header {
    line-height: 50px;
    height: 50px;
    width: 100%;
    position :fixed;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .header-container {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  img.logo{
    display: none;
  }
  .title-name{
    line-height: 50px;
  }
  .profile-text{
    font-size:10px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .profile-box{
    height: auto;
    padding-top: 10px;
    width: 365px;
    margin: auto;
  }
  img.momo{
    height: 300px;
    width: 300px;
  }
  .btn {
    width: 90%;
    
  }
  .instagram {
    margin: auto;
    margin-bottom: 10px;

  }
  .github {
    margin: auto;
  }
  .top-wrapper {
    object-fit: cover;
    text-align: center;
    max-width: 100%;
    height: 300px;
    
  }
  .skills-title{
    font-size: 18px;
  }
  .skills-box{
    height: auto;
    padding-top: 10px;
  }
  .box16{
    width: 300px;
    margin: 10px 0px;
    left: 38px;
    padding: 30px;
  }
  .blackbgbg{
    background: #fff;
  }
/* header-rightクラスのdisplayをnoneに指定してください */
  .header-right {
    display: none;
  }
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .accordion {
    margin: auto;
    width: 350px;
  }
  .slider__description{
    text-align: center;
    font-size: 12px;
  }
  .modal-messaage{
    font-size: 14px;
  }
  .modal-content{
    font-size: 10px;
  }
  .modal-wrapper .modal-window{
    padding: 23px 10px 5px;
    width: 100%;
  }
  

/* ドロワー */

  header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    box-sizing: border-box;
  }
  .menu-trigger {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
  }
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: all .5s .2s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
  }
  nav ul {
    padding: 20px 0;
  }
  nav ul li {
    padding: 15px 0;
    display: block;
  }
  a.drower-name{
    text-decoration: none;
    color: #fff;
  }
  .menu-trigger.active{
    display: inline-block;
    z-index: 901;
  }
}
/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .form-control{
    margin-bottom: 10px;
  }
  
  #contact {
      /* height: 1000px; */
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .header-left{
    display: block;
  }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  .form-control{
    margin-bottom: 10px;
  }
}
