* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}
.clear {
  clear: left;
}

/* ここからヘッダー */

header {
  height: 70px;
  width: 100%;
  background-color: rgba(168, 166, 168, 0.418);
  position :fixed;
  top: 0;
  z-index: 800;
} 
.header-container {
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  display: inline-block;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  letter-spacing: 2px;

}
img.logo{
  transform: translate(20%,35%);
}

.header-right a {
  line-height: 65px;
  padding-right: 25px;
  color: white;
  display: inline-block;
  float: left;
  transition-duration: 0.2s;
}
.header-right a:hover {
  opacity: 0.5;
}
.title-name{
  font-size: 16px;
  padding-left: 10px;
  color: white;
  line-height: 65px;
  letter-spacing: 4px;
  display: inline-block;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.menu-trigger.active{
  display: none;
}
nav ul li{
  display: none;
}

/* ここからメイン画面 */
.top-wrapper {
  padding: 200px 0 450px 0;
  background-image: url(pf-image-1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: right;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
.top-wrapper p {
  opacity: 0.7;
}
.container {
  width: 100%;
  padding: 0 320px;
  margin: 0 auto;
  display: inline-block;
}
.btn-wrapper {
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.instagram {
  background-color: #aa49aa;
  margin-right: 10px;
}
span.fa.fa-instagram {
  margin-right: 5px;
}
.github {
  background-color: black;
}
span.fa.fa-github {
  margin-right: 8px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}

/* ここからプロフィール */
img.momo{
  border-radius: 50%;
  border: solid 12px rgba(200, 200, 200, 0.219);
  height: 350px;
  width: 350px;
  
}
.profile-text{
  display: flex;
  justify-content: space-around;
	padding:20px 10px;
	font-size:13px;
  border: 1px solid rgba(74, 75, 77, 0.322);
  margin: 0 190px;
  position: relative;
}

.profile-text::after{
	content: "PROFILE";
	position: absolute;
	top: -8px;
	left: 10px;
	background: #fff;
	font-size: 19px;
	color: rgb(77, 78, 80);
	padding: 0 10px;
}

.profile-box{
  height: 100vh;
  padding-top: 100px;
}

.box {
  height: 64px;
  transition: all .15s ease-in-out;
}

.box-title {
  letter-spacing: 4px;
  color: #44444481;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.box-title p{
  font-size: 20px;
}

.box-title p:hover{
  opacity: 0.5;
}

.box-content {
  padding: 20px 20px;
  font-size: 12pt;
  color: rgba(0,0,0,.54);
}

.box-content-text{
  font-size: 12px;
  margin-top: 6px;
}
.image-boxes{
  top: 0;
  right: -10px;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* ここからスキル */
.skills-box{
  height: 100vh;
  padding-top: 100px;
}

.skills-title{
  position: relative;
  display: inline-block;
  padding: 0 140px;
  font-size: 40px;
  margin-bottom: 120px;
  letter-spacing: 6px;
}

.skills-title:before, .skills-title:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: black;
}
.skills-title:before {
  left:0;
}
.skills-title:after {
  right: 0;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
.box16{
  width: 400px;
  margin: 10px 20px;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  top: -35px;
  left: 50px;
  background-color: white;
  padding: 40px;
  position: relative;
  box-shadow: 10px 10px 30px -10px;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #eeeded, #ecebeb 3px,#ebebeb 3px, #dfdfdf 7px);
}
.skills-maintext{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 30px;
}
.skills-message{
  line-height: 30px;
}
span.fa.fa-desktop {
  margin-right: 10px;
}
span.fa.fa-lightbulb-o {
  margin-right: 10px;
}
.vision{
  background-color: #EEEEEE;
  position: relative;
}
.blackbgbg{
  background-color: #adadad;
  width: 100%;
}
figure{
  margin: 0;
}
/* ここからポートフォリオ  */

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

html,
body,
.container,
.slider{
  width: 100%;
}

legend {
  color: #727272;
  font-weight: 100;
  display: block;
  padding: 0 2rem;
  background: transparent;
  font-size: 2rem;
}
.portfolio-content{
  padding-top: 60px;
  height: 800px;
}
.portfolio-title{
  margin-bottom: 50px;
  font-size: 38px;
  letter-spacing: 4px;
}
fieldset {
  border: 1px solid #c7c7c7;
  padding: 0 2rem;
}

.portfolio-box {
  text-align: center;
  overflow: hidden;
  padding: 2rem;
}
.modal-messaage{
  font-size: 15px;
  font-weight: bold;
}
.modal-content{
  font-size: 12px;
}

.slider {
  position: relative;
    height: 250px;
}


.slider__list {
  position: relative;
  transition: all .52s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.slider__item {
  width: 33%;
  transform-style: preserve-3d;
  transition-property: perspective;
  backface-visibility: hidden;
  transition: all .52s ease-in-out;
  touch-action: pan-X;
  position: absolute;
  right: 1rem;
  top: 0;
  z-index: 200;
  opacity: 0;
}

.slider__label {
  display: block;
  width: 100%;
  margin: 2rem 0;
  transform-origin: 50% 50%;
  transform: perspective(70em) rotateY(-30deg);
  transition: all .52s ease-in-out;  
  cursor: pointer;
  position: relative; 
}


.slider__label:hover:after {
  opacity: 0;
}

.slider__img {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3); 
}

.slider__control {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  background: #fff;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 700;
  bottom: 3rem;
  left: 50%;
  transition: all .52s ease-in-out; 
}
.slider__control:checked {
  background: darkcyan;
}
.slider__control:hover {
  background: #ccc;
}

#rsl-1 { margin-left: -55px; }
#rsl-2 { margin-left: -30px; }
#rsl-3 { margin-left: -7px; }
#rsl-4 { margin-left: 15px; }
#rsl-5 { margin-left: 35px; }

#rsl-1:checked ~ .slider__list .slider__label-1,
#rsl-2:checked ~ .slider__list .slider__label-2,
#rsl-3:checked ~ .slider__list .slider__label-3,
#rsl-4:checked ~ .slider__list .slider__label-4,
#rsl-5:checked ~ .slider__list .slider__label-5 {
  transform:  rotateY(0deg) scale(1.12);
}

#rsl-1:checked ~ .slider__list .slider__label-1:after,
#rsl-2:checked ~ .slider__list .slider__label-2:after,
#rsl-3:checked ~ .slider__list .slider__label-3:after,
#rsl-4:checked ~ .slider__list .slider__label-4:after,
#rsl-5:checked ~ .slider__list .slider__label-5:after {
  opacity: 0;
}

#rsl-2:checked ~ .slider__list .slider__label-1,
#rsl-3:checked ~ .slider__list .slider__label-2,
#rsl-4:checked ~ .slider__list .slider__label-3,
#rsl-5:checked ~ .slider__list .slider__label-4{
  transform: perspective(70em) rotateY(30deg);
}

#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(1),
#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(2),
#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(3),
#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(4),
#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(5) {
    transform: translateX(-100%);
    opacity: 1;
}

#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(1),
#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(2),
#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(3),
#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(4),
#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(5) {
  transform: translateX(-200%);
  opacity: 1;
}

#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(2),
#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(3),
#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(4),
#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(5),
#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(1) {
  opacity: 1;
  z-index: 201;
}

#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(5) .slider__label-5 {
  transform:  perspective(70em) rotateY(30deg);
}

.slider__description{
  text-align: center;
  margin: 0 auto 5rem;
  color: #333;
}
.slider__item{
  overflow: hidden;
}
.slider__item img{
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
.slider__item img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
}
@media only screen and (min-width: 720px) {
  .slider { height: 350px; }
}

@media only screen and (min-width: 920px) {
  .slider { height: 450px; }
}
/* ここからフッダー */

#contact {
  width: 100%;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 130px;
  font-size: 30px;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
}

/* Begin Left Contact Page */
.form-horizontal {
  max-width: 400px;
  font-weight: 400;
}
input::placeholder{
  padding-left: 10px;
}
textarea::placeholder{
  padding-left: 10px;
  line-height: 50px;
}


.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}
.form-control{
  width: 400px;
  height: 50px;
  margin-bottom: 15px;
}

.send-button {
  margin-top: 15px;
  outline: none;
  height: 34px;
  width: 400px;
  background-color: rgba(17, 17, 17, 0.582);
}

.button {
  height: 34px;
}


.send-text {
  text-align: center;
  font-size: 14px;
}


/* Begin Right Contact Page */
.direct-contact-container {
  width: 400px;
  margin-top: 8px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  color: #aaa;
  text-align: right;
  margin-top: 65px;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 5px;
}

.gmail {
  margin-left: 5px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
}

.social-media-list a {
  position: relative; 
  top: 0;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list a:hover {
  background-color: #fff; 
}

.social-media-list a:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list a:hover {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}



.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
  position: sticky;
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c!important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38!important
}